/* ローディングアニメーション中はスクロールを無効化 */
/* グローバルでno-scrollを効かせる */
body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

html {
  margin-top: 0 !important;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  /* iOSでスムーズスクロール */
}

body {
  color: #333;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.4;
  /* overflow-x: hidden; */
  background: #fff;
  -webkit-overflow-scrolling: touch;
  /* iOSでスムーズスクロール */
}

img {
  width: 100%;
  height: auto;
}

.loader1 {
  position: fixed;
  width: 100%;
  height: 100svh;
  background-color: #fff;
  z-index: 500;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.loader1 .img {
  opacity: 0;
}

.loader2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200lvh;
  background: #FFFAD1;
  transform: translateY(105%);
  z-index: 1000;
}

.loader2-top,
.loader2-bottom {
  content: "";
  position: absolute;
  top: -88px;
  left: 50%;
  width: 160%;
  height: 120px;
  transform: translateX(-50%);
}

.loader2-bottom {
  top: calc(100% - 40px);
  transform: translateX(-50%) rotate(180deg);
}

@media screen and (max-width: 1023px) {
  .loader2-bottom {
    top: calc(100% - 20px);
  }

  .loader2-top,
  .loader2-bottom {
    height: 45px;
    top: -20px;
  }

  .loader2-bottom {
    top: calc(100% - 10px);
  }
}

@keyframes mv-img {
  0% {
    transform: scale(1.05)
  }

  50% {
    transform: scale(1.05)
  }

  100% {
    transform: scale(1)
  }
}

.loader3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100svh + 80px);
  background-size: cover;
  background-position: center center;
  z-index: 400;
  opacity: 1;
  display: none;
  animation: mv-img 3s infinite linear 0.5s both;
}

.loader3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.loader3::before {
  content: "";
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* @media screen and (max-width: 1023px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media screen and (max-width: 1023px) {
  .sp-only {
    display: block;
  }
} */

/* .second-btn {
  justify-content: center;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  border-radius: 26px;
  border: 1px solid #D9D9D9;
  transition: all 0.25s ease 0s;
  cursor: pointer;
  height: 52px;
  display: flex;
  align-items: center;
} */
/*

@media screen and (max-width: 1023px) {
  .second-btn {
    height: 40px;
    max-width: 250px;
    font-size: 14px;
    padding: 11px;
  }
}

.second-btn span {
  position: relative;
  padding-right: 24px;
}

@media screen and (max-width: 1023px) {
  .second-btn span {
    padding-right: 18px;
  }
}

.second-btn span::after {
  content: "";
  width: 12px;
  height: 10px;
  background: url(../image/view-more-icon.svg) center center/ contain no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: all 0.25s ease 0s;
}

.second-btn:hover {
  background: #f5f5f5;
  border: 1px solid #999;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* .modal-btn .second-btn {
  position: relative;
}

.modal-btn .second-btn::after {
  content: "";
  width: 13px;
  height: 12px;
  background: url(../image/shop-site-icon.svg) center center / contain no-repeat;
  position: absolute;
  top: 50%;
  right: 18%;
  transform: translateY(-50%);
} */

#event-info {
  transition: opacity 0.3s ease;
}

/* header-logo */
@media screen and (max-width: 1023px) {
  .home .header>div {
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .home .header>div {
    height: 34px;
  }
}

/* header-nav */
.header-nav-item .active {
  transform: translateX(10px);
  font-weight: 500;
}

.header-nav-item a:hover {
  transform: translateX(10px);
}

.nav-menu {
  opacity: 0;
  pointer-events: none;
  /* overflow: scroll; */
  overflow: scroll;
  z-index: 10;
}

body.is-active {
  height: 100%;
  overflow: hidden;
}

body.is-active main {
  pointer-events: none;
}

.is-active .drawer-logo {
  opacity: 1;
}

.drawer-nav {
  transform: translateX(-50%) translateY(88%);
}

.is-active .drawer-nav {
  background: #FFFAD1;
  flex-direction: column;
  transform: translateX(-50%) translateY(0);
  z-index: 30;
  pointer-events: auto;
}

.is-active .header-nav-menu {
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  .header-nav-menu ul {
    gap: 16px;
    row-gap: 0;
  }

  .header-nav-menu ul li {
    width: calc(50% - 16px * 1 / 2);
  }
}

.nav-item .active {
  transform: translateX(10px);
}

.main-mv {
  height: calc(100svh + 80px);
}

@media screen and (max-width: 1023px) {
  .main-mv {
    height: calc(100svh + 20px);
  }
}

@media screen and (max-width: 767px) {
  .main-mv {
    height: calc(100svh + 46px);
  }
}

.main-mv-img {
  width: 100%;
  height: calc(100svh + 80px);
  position: fixed;
  top: 0;
  left: 0;
}

.main-mv-img img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: filter 0.3s ease;
  filter: blur(0px);
  /* 初期値 */
}

.home .header-main-wrapper {
  max-width: 100%;
}

.home .main-inner {
  margin-left: 0;
  padding-right: 0;
}

/* トップページのみ背景色を表示 */
body.home .home-drawer-nav::after {
  content: '';
  background-color: #FFFAD1;
  position: absolute;
  z-index: -1;
  border-radius: 20px;
  pointer-events:none;

  /* 拡張サイズ */
  top: -32px;
  left: -24px;
  right: -24px;
  bottom: -60px;
}

/* 下層ページでは背景非表示 */
body:not(.home) .home-drawer-nav::after {
  display: none;
  content: none;
}

.header-content.fixed {
  position: fixed;
  top: 60px; /* 60pxの位置で固定 */
  left: 60px;
  z-index: 999;
}

.fixed-content {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

@media (max-width: 767px) {
  .fixed-content {
    display: none !important;
  }
}

.fixed-content.is-hidden {
  opacity: 0;
  transform: translateX(-20px);
  /* ふわっと下に消える感じ */
  pointer-events: none;
}


.home .header-content {
  pointer-events: none;
}

.home .header-nav ul {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 36px;
}

.header-nav-item a {
  padding: 6px 0;
}


.home .profile-img {
  width: 10%;
  display: block;
  margin: 0 auto 40px;
  opacity: 0;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.home.is-active .profile-img {
  opacity: 1;
}

.home main {
  max-width: 100%;
}

/* single-page */

.single-content p {
  margin: 40px 0;
  line-height: 1.75;
}

@media screen and (max-width: 1023px) {
  .single-content p {
    font-size: 14px;
    margin: 16px 0;
  }
}

.single-content .wp-block-list li {
  position: relative;
  line-height: 1.75;
  padding-left: 16px;
}

@media screen and (max-width: 1023px) {
  .single-content .wp-block-list li {
    font-size: 14px;
  }
}

.wp-block-list {
  margin: 40px 0;
}

@media screen and (max-width: 1023px) {
  .wp-block-list {
    margin: 16px 0;
  }
}

.single-content .wp-block-list li::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #333;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 0;
}

@media screen and (max-width: 1023px) {
  .single-content .wp-block-list li::before {
    top: 6px;
  }
}

.single-content .wp-block-image {
  margin: 20px 0;
}

@media screen and (max-width: 1023px) {
  .single-content .wp-block-image {
    margin: 8px 0;
  }
}

.single-event-overview dt {
  width: 7.5vw;
  line-height: 1.4;
}

.single-event-overview dd {
  width: calc(100% - 7.5vw);
  line-height: 1.4;
}

@media screen and (max-width: 1023px) {
  .single-event-overview dt {
    width: 80px;
  }

  .single-event-overview dd {
    width: calc(100% - 80px);
  }
}

.single-news-post-item.post-item .img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.new-post-item-mark {
  font-family: 'Open Sans', sans-serif;
  width: -moz-fit-content;
  width: fit-content;
  height: 20px;
  font-size: 10px;
  border-radius: 15px;
  background: #FFF546;
  padding: 0 6px;
  justify-content: center;
  align-items: center;
  display: none;
}

.single .footer {
  margin-top: 200px;
}

@media screen and (max-width: 1023px) {
  .single .footer {
    margin-top: 80px;
  }
}

.single .attachment-post-thumbnail {
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 1023px) {
  .single .attachment-post-thumbnail {
    border-radius: 8px;
  }
}

.no-scroll-touch {
  touch-action: pan-x;
  overflow-y: hidden;
}

/* mv下部の波波 */
.top-goods::before {
  content: "";
  width: 100%;
  height: 90px;
  position: absolute;
  top: -80px;
  left: 0;
  background: url(../image/mv-bottom.svg);
}


/* top-page goods下部のスライダー（背景黄色） */
.bg-wave-pattern {
  background: url(../image/bg.svg);
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: center;
  width: 100%;
  height: 100%;
}

.slide-track {
  display: flex;
  animation: slide-left 20s linear infinite;
  will-change: transform;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * var(--slideWidth)));
  }
}

.animate-slide-left {
  animation: slide-left 20s linear infinite;
}

.parallax-1-wrapper {
  aspect-ratio: 3 / 2;
}

@media screen and (max-width: 1023px) {
  .parallax-1-wrapper {
    aspect-ratio: 75 / 86;
  }
}

.top-event-img::after {
  content: "";
  width: 120px;
  height: 120px;
  background: url(../image/top-event-circle.svg);
  background-size: contain;
  position: absolute;
  top: -60px;
  right: -60px;
  animation: 20s linear infinite rotation;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .top-event-img::after {
    width: 100px;
    height: 100px;
    right: -30px;
  }
}

@media screen and (max-width: 1023px) {
  .top-event-img::after {
    right: 0;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* about-page youtube */

.youtube iframe {
  width: 100%;
  height: 100%;
}

/* google-map icon */
.google-map::before {
  content: "";
  width: 10px;
  height: 13px;
  background: url(../image/google-map-icon.svg) center center / contain no-repeat;
  position: absolute;
  bottom: 3px;
  left: 0;
  transition: all 0.25s ease;
}

.google-map:hover {
  border-color: #fffad1;
}

/* .top-news-about {
  background-image: url(../image/top-news-about-bg.webp);
  background-size: cover;
}

@media screen and (max-width: 1023px) {
  .top-news-about {
    background-image: url(../image/sp-top-news-about-bg.webp);
  }
} */

.top-news-about {
  background-image: url(../image/top-news-about-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

@media screen and (max-width: 767px) {
  .top-news-about {
    background-image: url(../image/sp-top-news-about-bg.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
  }
}

/* .top-news-title,
.top-suzuri-text,
.schedule-item-title {
  display: inline;
  box-shadow: none;
  transition: all 0.25s ease;
}

.top-news-item a:hover .top-news-title,
.top-suzuri-service a:hover .top-suzuri-text,
.schedule-item a:hover .schedule-item-title {
  box-shadow: inset 0 -1px 0 0 #333;
} */

/* 例: style.cssなどに追加 */
/* .event-item.last-visible {
  border-bottom: none;
} */

/* Eventページ下部の投稿リスト */

/* .schedule-item {
  width: 100%;
  display: block;
  border-bottom: 1px solid #D9D9D9;
}

.schedule-item a {
  display: flex;
  padding: 24px 0;
  transition: all 0.25s ease 0s;
}

@media screen and (max-width: 1023px) {
  .schedule-item a {
    flex-direction: column;
    padding: 13px 0;
  }
}

.schedule-item a .left {
  width: 260px;
}

@media screen and (max-width: 1023px) {
  .schedule-item a .left {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
    justify-content: left;
  }
}

.schedule-item a .right {
  width: calc(100% - 260px);
}

@media screen and (max-width: 1023px) {
  .schedule-item a .right {
    width: 100%;
  }
}

.schedule-item a .schedule-item-tag {
  font-size: 12px;
  margin-left: 12px;
  padding-left: 12px;
  border-left: 1px solid #D9D9D9;
} */

/* top-page instagram スライダー */

/* .home .swiper {
  width: 100%;
  height: auto;
}

.home .swiper-wrapper {
  display: flex;
}

.home .slide-image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.single .swiper-slide-thumb-active {
  opacity: 0.6;
} */

.prev.disabled path,
.next:disabled path {
  stroke: #D9D9D9;
}

@media screen and (max-width: 1023px) {
  .top-works-sec ul {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }

  .top-works-sec .top-works {
    width: calc(50% - 9px * 1 / 2);
  }
}



/** トップページ worksのスライダー **/
/* .home [data-swiper-slide-index="0"],
.home [data-swiper-slide-index="1"],
.home [data-swiper-slide-index="2"],
.home [data-swiper-slide-index="3"],
.home [data-swiper-slide-index="4"],
.home [data-swiper-slide-index="5"],
.home [data-swiper-slide-index="6"] {
  position: relative;
}

.home [data-swiper-slide-index="0"]::after,
.home [data-swiper-slide-index="1"]::after,
.home [data-swiper-slide-index="2"]::after,
.home [data-swiper-slide-index="3"]::after,
.home [data-swiper-slide-index="4"]::after,
.home [data-swiper-slide-index="5"]::after,
.home [data-swiper-slide-index="6"]::after {
  content: "1/3";
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  padding: 0 6px;
  border-radius: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  letter-spacing: 0.07em;
  height: 24px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1023px) {

  .home [data-swiper-slide-index="0"]::after,
  .home [data-swiper-slide-index="1"]::after,
  .home [data-swiper-slide-index="2"]::after,
  .home [data-swiper-slide-index="3"]::after,
  .home [data-swiper-slide-index="4"]::after,
  .home [data-swiper-slide-index="5"]::after,
  .home [data-swiper-slide-index="6"]::after {
    height: 20px;
    font-size: 10px;
  }
}

.home [data-swiper-slide-index="0"]::after,
.home [data-swiper-slide-index="3"]::after {
  content: "3/3";
}

.home [data-swiper-slide-index="2"]::after,
.home [data-swiper-slide-index="5"]::after {
  content: "2/3";
} */

/** top-page インスタグラムのスライダー **/
/* .instagram-slide #sb_instagram {
  padding-bottom: 0 !important;
}

#sb_instagram #sbi_images {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}

#sb_instagram #sbi_images .sbi_item {
  aspect-ratio: 1 / 1;
  width: 165px;
}

@media screen and (max-width: 1023px) {
  #sb_instagram #sbi_images .sbi_item {
    width: 125px;
  }
}

.instagram-slide {
  animation: loop-slide 60s infinite linear 1s both;
} */

/* @keyframes loop-slide {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
} */
/*
.goods-single-modal .modalBtn {
  outline: none;
  background: none;
} */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* デフォルトの矢印を非表示 */
}

select::-ms-expand {
  display: none;
  /* デフォルトの矢印を非表示(IE用) */
}

/* セレクトボックスの矢印デザイン変更 */

.select-wrapper::after {
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  transform: translateY(-50%) rotate(45deg);
  position: absolute;
  top: 50%;
  right: 20px;
}

@media screen and (max-width: 1023px) {
  #sbi_images {
    gap: 8px !important;
  }
}

/** footer コンタクトボタン **/

.footer-contact-circle {
  animation: 20s linear infinite rotation;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.footer::before {
  content: "";
  position: absolute;
  top: -38px;
  left: 0;
  width: 100%;
  height: 80px;
  background: url(../image/footer-top.svg);
  background-size: cover;
}

@media screen and (max-width: 1023px) {
  .footer::before {
    top: -20px;
    height: 48px;
    background-size: contain;
  }
}

.footer .nav-item {
  width: calc(33.3% - 36px * 2 / 3);
}

@media screen and (max-width: 1023px) {
  .footer .nav-item {
    width: calc(50% - 16px * 1 / 2);
  }
}

.footer .nav-item a:hover {
  transform: translateX(10px);
}

/** footer イラストのスライド **/
.footer-slide {
  animation: footer-slide 400s infinite linear 0.5s both;
}

@keyframes footer-slide {
  0% {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.error404 main {
  margin: 0 auto;
}

.error404 main>div {
  margin-left: 0;
}

.error404 .link {
  padding-left: 1.5rem;
  padding-right: 0;
  font-weight: 400;
}

@media screen and (max-width: 1023px) {
  .error404 .link {
    font-size: 12px;
  }
}

.error404 .link::after {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}

.grid-item.new-post .hidden,
.grid-item.new-post .hidden {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
}

/* contact */
.contact-form-wrapper {
  margin-top: 60px;
  padding: 80px 100px;
}

@media screen and (max-width: 1023px) {
  .contact-form-wrapper {
    margin-top: 20px;
    padding: 28px 20px;
  }
}

.main-form-lists {
  padding: 24px 20px 24px 50px;
}

.main-form-lists li {
  line-height: 1.75;
}

@media screen and (max-width: 1023px) {
  .main-form-lists {
    padding: 16px 20px 16px 40px;
  }
}

.contact label.privacy-policy a {
  display: inline-block;
  box-shadow: inset 0 -1px 0 0 #333;
  transition: all 0.25s ease;
}

.contact label.privacy-policy a:hover {
  box-shadow: none;
}

/* .contact-step li:nth-child(2) {
  position: relative;
} */

.wpcf7-form-control.wpcf7-submit {
  /* position: relative; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  height: 52px;
  font-size: 16px;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #D9D9D9;
  border-radius: 9999px;
  gap: 8px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
  background-color: #fff;
  color: #333;
}

.wpcf7-form-control.wpcf7-submit:hover {
  border-color: #999;
  background-color: #F5F5F5;
}

/* ②にはないですが、フォーカス時のスタイル */
.wpcf7-form-control.wpcf7-submit:focus {
  outline: none;
  border-color: #999;
  box-shadow: 0 0 0 0.2rem rgba(153, 153, 153, 0.25);
}

/* スマホ */
@media screen and (max-width: 1023px) {
  .wpcf7-form-control.wpcf7-submit {
    /* max-width: 350px;
    height: 52px;
    font-size: 16px; */
    width: 100%;
    max-width: 350px;
    height: 40px;
  }
}
.wpcf7-submit {
  font-family: "Font Awesome 6 Free";
}

/* .wpcf7-form-control.wpcf7-submit::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 12px;
  height: 10px;
  background: url(../image/view-more-icon.svg) center center/contain no-repeat;
  transform: translateY(-50%);
  transition: all 0.25s ease 0s;
} */

/* .second-btn span::after {
  content: "";
  width: 12px;
  height: 10px;
  background: url(../image/view-more-icon.svg) center center/ contain no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: all 0.25s ease 0s;
} */

/* @media screen and (max-width: 1023px) {
  .contact .main-form .second-btn::before {
    right: 60px;
  }
} */

.wpcf7-spinner {
  display: none;
}

.contact-form-top .wpcf7-form-control {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

@media screen and (max-width: 1023px) {
  .contact-form-top .wpcf7-form-control {
    gap: 8px;
  }
}

.contact-form-top .wpcf7-list-item {
  margin: 0 !important;
  width: calc(50% - 20px * 1 / 2);
}

@media screen and (max-width: 1023px) {
  .contact-form-top .wpcf7-list-item {
    width: 100%;
  }
}

.contact-form-top .wpcf7-list-item-label {
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  display: block;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 52px;
  position: relative;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 1023px) {
  .contact-form-top .wpcf7-list-item-label {
    font-size: 14px;
    padding: 8px 16px 8px 43px;
    height: 36px;
  }
}

.contact-form-top .wpcf7-list-item input {
  outline: none;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.contact-form-top .wpcf7-list-item-label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

@media screen and (max-width: 1023px) {
  .contact-form-top .wpcf7-list-item-label::before {
    left: 16px;
  }
}

.contact-form-top .wpcf7-list-item-label::after {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 0;
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 1023px) {
  .contact-form-top .wpcf7-list-item-label::after {
    left: 21px;
  }
}

.contact-form-top .wpcf7-list-item-label:hover {
  background: #F5F5F5;
}

.contact-form-top .wpcf7-list-item input:checked+.wpcf7-list-item-label {
  background: #F5F5F5;
  border: 1px solid #333;
}

.contact-form-top .wpcf7-list-item input:checked+.wpcf7-list-item-label::after {
  opacity: 1;
}

.privacy-policy .wpcf7-list-item {
  margin: 0;
}

/* .wpcf7-form .form {
  margin-top: 56px;
}

@media screen and (max-width: 1023px) {
  .wpcf7-form .form {
    margin-top: 20px;
  }
} */

.wpcf7-form .form label.privacy-policy {
  margin-top: 0;
}

.wpcf7-form .form label.privacy-policy label {
  margin-top: 0;
}

.wpcf7-form .form input[type="text"],
.wpcf7-form .form input[type="email"],
.wpcf7-form .form textarea {
  margin-top: 12px;
  padding: 0 20px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
}

.wpcf7-form .form input[type="text"],
.wpcf7-form .form input[type="email"] {
  height: 44px;
}

@media screen and (max-width: 1023px) {

  .wpcf7-form .form input[type="text"],
  .wpcf7-form .form input[type="email"] {
    height: 36px;
  }
}

.wpcf7-form .form textarea {
  padding: 8px 20px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #d9d9d9;
}

input::placeholder,
textarea::placeholder {
  color: #d9d9d9;
}

@media screen and (max-width: 1023px) {

  .wpcf7-form .form input[type="text"],
  .wpcf7-form .form input[type="email"],
  .wpcf7-form .form textarea {
    margin-top: 8px;
    font-size: 12px;
    padding: 9px 16px;
  }
}

.contact .modalBtn {
  left: 50%;
  transform: translateX(-50%);
}

.contact-confirm-content {
  display: flex;
  align-items: center;
  margin-top: 12px;
  padding: 0 20px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  width: 100%;
  height: 44px;
  background: #F5F5F5;
}

@media screen and (max-width: 1023px) {
  .contact-confirm-content {
    font-size: 12px;
    padding: 8px 16px;
    margin-top: 4px;
    height: 36px;
  }
}

/* コンタクトフォーム 「必須」 */
.must {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 24px;
  margin-left: 8px;
  color: #FF0000;
  font-size: 12px;
  padding: 0 6px;
  border: 1px solid #FF0000;
  border-radius: 15px;
  letter-spacing: 0.07em;
}

@media screen and (max-width: 1023px) {
  .must {
    height: 20px;
    font-size: 10px;
  }
}

/* プライバシーポリシー チェックボタン カスタマイズ */
.privacy-policy label {
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  line-height: 1.75;
}

.privacy-policy input[type="checkbox"] {
  position: relative;
  width: 26px;
  height: 18px;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.privacy-policy input[type="checkbox"]::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #D9D9D9;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.privacy-policy input[type="checkbox"]::after {
  content: "";
  width: 6px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  top: 46%;
  left: 6px;
  transform: translateY(-50%) rotate(45deg);
}

.privacy-policy input[type="checkbox"]:checked::before {
  background: #333;
}

.wpcf7-response-output {
  color: #dc3232;
  text-align: center;
}

.wpcf7 form .wpcf7-response-output {
  border: none;
}

/* .contact .main-form .second-btn {
  position: relative;
  padding: 0;
  flex-direction: row-reverse;
}

.contact .main-form .second-btn:hover {
  background: none;
}

.contact .main-form .second-btn input {
  max-width: 350px;
  width: 100%;
  height: 52px;
  padding: 0 15px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .contact .main-form .second-btn input {
    max-width: 250px;
    height: 40px;
    font-size: 14px;
  }
}

.contact .main-form .second-btn::before {
  content: "";
  width: 12px;
  height: 10px;
  background: url(../image/view-more-icon.svg) center center/ contain no-repeat;
  position: absolute;
  top: 50%;
  right: 105px;
  transform: translateY(-50%);
  z-index: -1;
}

@media screen and (max-width: 1023px) {
  .contact .main-form .second-btn::before {
    right: 60px;
  }
}

.contact .main-form .second-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 26px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
  z-index: -2;
}

.contact .main-form .second-btn:hover::after {
  background: #f5f5f5;
} */

/* .subjects-list {
  padding: 80px 108px;
  margin-top: 20px;
  border: 1px solid #D1D5DB;
  border-radius: 10px;
} */
/* @media screen and (max-width: 1023px) {
  .subjects-list {
    padding: 28px 20px 36px;
    margin-top: 36px;
  }
} */

.subjects-list {
  padding: 80px 108px;
}

@media screen and (max-width: 1023px) {
  .subjects-list {
    padding: 28px 20px 36px;
  }
}

.subjects-list ul.list-disc {
  padding: 24px 30px 24px 42px;
  margin-bottom: 56px;
  border-radius: 20px;
}

@media screen and (max-width: 1023px) {
  .subjects-list ul.list-disc {
    padding: 16px 20px 16px 32px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
}

.subjects-list div.main-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 1023px) {
  .subjects-list div.main-form {
    gap: 8px;
  }
}
/* .subjects-list > p {
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 48px;
} */

/* @media screen and (max-width: 1023px) {
  .subjects-list > p {
    font-size: 14px;
    margin-bottom: 20px;
  }
} */


/* お問い合わせ確認画面 修正するボタン */
.contact-confirm .wpcf7-previous {
  padding-right: 0;
  padding-left: 24px;
  margin: 0;
  display: inline-block;
  background: none;
}

.previous-btn {
  display: inline-block;
  max-width: 350px;
  width: 100%;
  position: relative;
}

.previous-btn::before {
  content: "";
  width: 12px;
  height: 10px;
  background: url(../image/view-more-icon.svg) center center/ contain no-repeat;
  position: absolute;
  top: 42%;
  left: 132px;
  transform: rotate(180deg);
  z-index: -1;
}

.previous-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 26px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
  z-index: -2;
}

.previous-btn:hover::after {
  background: #f5f5f5;
}

/* お問い合わせ確認画面 送信するボタン */
.contact-confirm .wpcf7-submit {
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
  background: #676769;
  border: #676769;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.contact-confirm .wpcf7-submit:hover {
  background: #333;
  border: #333;
}

.contact-confirm .submit-btn span::after {
  display: none;
}

.wpcf7-form-control-wrap label {
  display: flex;
}

/* .contact label,
.contact-confirm label {
  font-size: 16px;
}

@media screen and (max-width: 1023px) {
  .contact label,
  .contact-confirm label {
    font-size: 14px;
  }
} */

/* お問い合わせ送信完了 TOPへ戻るボタン */
.contact-thanks-text::before {
  content: "";
  width: 100px;
  height: 1px;
  background: #333;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1023px) {
  .contact-thanks-text::before {
    width: 75px;
  }
}

/* お問い合わせ モーダル */

/* .contact .modal-btn .second-btn::after {
  display: none;
} */

/* .contact .modalBtn {
  height: 52px;
  outline: none;
  border: 1px solid #D9D9D9;
  border-radius: 26px;
}

@media screen and (max-width: 1023px) {
  .contact .modalBtn {
    height: 40px;
  }
}

.contact .modalBtn:hover {
  border: 1px solid #333;
  background: #D9D9D9;
} */

/* thanks-page */

/* .thanks .second-btn span {
  padding-right: 0;
  padding-left: 24px;
} */

/* .thanks .second-btn span::after {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
} */



/* お問い合わせページ footerのcontact非表示 */
.contact .footer-contact,
.contact-confirm .footer-contact,
.thanks .footer-contact {
  display: none;
}

.privacy-policy .contact-link {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  transition: all 0.3s ease 0s;
}

.privacy-policy .contact-link:hover {
  opacity: 0.7;
}

.footer-privacy-policy a,
.web-design a {
  transition: all 0.3s ease 0s;
  display: inline;
  box-shadow: inset 0 -1px 0 0 #333;
}

.footer-privacy-policy:hover a,
.web-design:hover a {
  box-shadow: none;
}

/* 全体のスタイル */
.custom-dropdown {
  position: relative;
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 1023px) {
  .custom-dropdown {
    width: 100%;
    height: 32px;
  }
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
